---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features/index.astro";
import Extensions from "../components/Extensions.astro";
import MoreFeatures from "../components/MoreFeatures/index.astro";
import ZenMode from "../components/ZenMode.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="vscode-remake.vercel.app" />
    <meta property="twitter:title" content="Visual Studio Code • Unofficial" />
    <meta
      property="twitter:image"
      content="https://vscode-remake.vercel.app/og-image.png"
    />
    <meta
      property="twitter:description"
      content="An Unofficial remake of vscode's website"
    />
    <meta
      property="twitter:url"
      content="https://vscode-remake.vercel.app/og-image.png"
    />
    <meta property="twitter:image:width" content="1399" />
    <meta property="twitter:image:height" content="823" />
    <meta property="og:title" content="Visual Studio Code • Unofficial" />
    <meta property="og:image" content="/og-image.png" />
    <meta
      property="og:description"
      content="An Unofficial remake of vscode's website"
    />
    <meta property="og:url" content="https://vscode-remake.vercel.app/" />
    <meta property="og:image:width" content="1399" />
    <meta property="og:image:height" content="823" />
    <script
      async
      defer
      data-website-id="94961583-798f-469a-9aa0-e77079f7dd08"
      src="https://umami.yashverma.me/umami.js"></script>
    <title>Visual Studio Code • Unofficial</title>
  </head>
  <body>
    <div>
      <Navbar />
      <Hero />
      <Features />
      <Extensions />
      <MoreFeatures />
      <ZenMode />
      <Testimonials />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.gotwitterleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

  body {
    @apply overflow-x-hidden bg-bg font-noto-sans text-text-1;
  }

  .gradient {
    --tw-gradient-stops: var(--start-color) 0%, var(--end-color) 90%;
  }

  .editor-bg {
    background: linear-gradient(
      to bottom,
      rgba(31, 156, 240, 0.6) 0%,
      rgba(31, 156, 240, 0) 80%
    );
  }

  .blob {
    position: absolute;
    z-index: -1;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    filter: blur(300px);
  }
</style>
