---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Visual Studio Code</title>
  </head>
  <body>
    <div class="pb-[200vh]">
      <Navbar />
      <Hero />
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

  body {
    @apply overflow-x-hidden bg-bg font-noto-sans text-text-1;
  }
</style>
