---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features/index.astro";
import Extensions from "../components/Extensions.astro";
import MoreFeatures from "../components/MoreFeatures/index.astro";
import ZenMode from "../components/ZenMode.astro";
import Testimonials from "../components/Testimonials.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Visual Studio Code</title>
  </head>
  <body>
    <div class="pb-[100vh]">
      <Navbar />
      <Hero />
      <Features />
      <Extensions />
      <MoreFeatures />
      <ZenMode />
      <Testimonials />
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

  body {
    @apply overflow-x-hidden bg-bg font-noto-sans text-text-1;
  }

  .gradient {
    --tw-gradient-stops: var(--start-color) 0%, var(--end-color) 90%;
  }

  .editor-bg {
    background: linear-gradient(
      to bottom,
      rgba(31, 156, 240, 0.6) 0%,
      rgba(31, 156, 240, 0) 80%
    );
  }

  .blob {
    position: absolute;
    z-index: -1;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    filter: blur(300px);
  }
</style>
