---

---

<div class="lg:px-5 px-6 mt-20 lg:mt-44 z-10 relative">
  <h1 class="text-center text-xl lg:text-5xl font-medium">
    Packed with Features
  </h1>

  <div class="flex mt-48">
    <div data-card-img class="w-1/2 h-screen relative">
      <div
        class="rounded-3xl w-3/4 absolute shadow-[0px_0px_50px_10px_rgb(0,0,0,.25)] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-gradient-to-br from-gray-2 to-gray-1 pt-10 pl-10"
      >
        <div
          class="absolute rounded-3xl z-1 top-0 left-0 w-full h-full bg-gradient-to-t from-gray-1 via-gray-1/0 to-gray-1/0"
        >
        </div>
        <img
          src="/intellisense.png"
          class="rounded-tl-xl shadow-[-2px_-2px_50px_5px_rgb(0,0,0,0.5)] border-gray-3 border-t rounded-br-3xl border-l"
        />
      </div>
    </div>
    <div
      data-card-text
      class="w-1/2 min-h-screen flex flex-col px-20 pt-[40vh]"
    >
      <div class="flex flex-col gap-3 h-[40vh]">
        <h1 class="font-medium text-5xl">Meet IntelliSense</h1>
        <p class="text-lg text-text-2">
          Go beyond syntax highlighting and autocomplete with IntelliSense,
          which provides smart completions based on variable types, function
          definitions, and imported modules.
        </p>
      </div>
      <div class="flex flex-col gap-3 h-[70vh] justify-center">
        <h1 class="font-medium text-5xl">Meet IntelliSense</h1>
        <p class="text-lg text-text-2">
          Go beyond syntax highlighting and autocomplete with IntelliSense,
          which provides smart completions based on variable types, function
          definitions, and imported modules.
        </p>
      </div>
      <div class="flex flex-col gap-3 h-[70vh] justify-center">
        <h1 class="font-medium text-5xl">Meet IntelliSense</h1>
        <p class="text-lg text-text-2">
          Go beyond syntax highlighting and autocomplete with IntelliSense,
          which provides smart completions based on variable types, function
          definitions, and imported modules.
        </p>
      </div>
      <div class="flex flex-col gap-3 h-[70vh] justify-center">
        <h1 class="font-medium text-5xl">Meet IntelliSense</h1>
        <p class="text-lg text-text-2">
          Go beyond syntax highlighting and autocomplete with IntelliSense,
          which provides smart completions based on variable types, function
          definitions, and imported modules.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to("[data-card-img]", {
    scrollTrigger: {
      trigger: "[data-card-img]",
      start: "center center",
      endTrigger: "[data-card-text]>div:last-child",
      end: "center center",
      pin: true,
    },
  });
</script>
