---

---

<div class="px-5 mt-10 lg:mt-0 mb-10 text-lg text-center">
  An Unofficial remake of
  <a href="https://code.visualstudio.com">Vscode's Website</a>
  made by <a href="https://twitter.com/yxshv_">@yxshv</a>
</div>

<style>
  a {
    @apply text-blue-500;
  }
</style>
