---
import Vscode from "../assets/vscode.svg";
import { MagnifyingGlassIcon, HamburgerMenuIcon } from "@radix-ui/react-icons";
---

<nav
  class="xl:animate-fade-in duration-150 [animation-delay:1s] flex relative xl:px-40 px-6 justify-between text-md py-6 xl:py-8 items-center"
>
  <a href="/" class="cursor-pointer flex justify-center gap-2 items-center">
    <img src={Vscode.src} alt="vscode logo" class="w-5" />
    Visual Studio Code
  </a>

  <div class="hidden xl:flex text-text-2 justify-center gap-3 items-center">
    <a class="cursor-pointer hover:text-text-1">Docs</a>
    <a class="cursor-pointer hover:text-text-1">Blog</a>
    <a class="cursor-pointer hover:text-text-1">API</a>
    <a class="cursor-pointer hover:text-text-1">Extension</a>
    <a class="cursor-pointer hover:text-text-1">
      <MagnifyingGlassIcon className="w-5 h-5" />
    </a>
  </div>

  <button
    id="menu-button"
    data-open
    class="xl:hidden flex justify-center items-center"
  >
    <HamburgerMenuIcon className="w-5 h-5" />
  </button>

  <div
    id="menu-content"
    class="xl:hidden hidden border-b border-accent-1 absolute w-screen overflow-hidden flex top-full left-0 px-6 pb-5 gap-2 text-text-2 flex-col"
    data-open="false"
  >
    <a class="cursor-pointer hover:text-text-1">Docs</a>
    <a class="cursor-pointer hover:text-text-1">Blog</a>
    <a class="cursor-pointer hover:text-text-1">API</a>
    <a class="cursor-pointer hover:text-text-1">Extension</a>
  </div>
</nav>

<script lang="ts">
  const btn = document.getElementById("menu-button");
  const content = document.getElementById("menu-content");

  btn.addEventListener("click", () => {
    console.log("clicked");
    const isOpen = JSON.parse(content.dataset.open);
    console.log(isOpen);
    if (isOpen) {
      content.dataset.open = "false";
      btn.dataset.open = "false";
    } else {
      content.dataset.open = "true";
      btn.dataset.open = "true";
    }
  });
</script>

<style>
  #menu-button {
    transition: height 0.3s;
  }

  #menu-content[data-open="true"] {
    height: max-content;
  }
  #menu-content[data-open="false"] {
    height: 0;
  }
</style>
