---

---

<div class="mt-20 w-[100vw] overflow-x-hidden lg:h-[100vh] overflow-y-hidden">
  <h1
    class="text-3xl px-5 md:px-20 md:mt-40 lg:px-40 md:text-3xl text-center lg:text-4xl font-medium"
  >
    Hear From the Devs!
  </h1>
  <div class="mt-20 lg:mt-10"></div>
  <div
    class="flex relative px-5 lg:h-40 lg:px-0 justify-center lg:scale-110 items-center flex-col lg:flex-row gap-5"
  >
    <h1
      class="absolute hidden text-2xl duration-500 font-medium text-transparent hover:text-text-2/50 lg:flex left-0 w-full h-full transition-[backdrop-filter,color] hover:backdrop-blur-[5px] justify-center items-center scale-110"
    >
      I was too lazy
    </h1>
    <div class="bg-gray-2 rounded-2xl">
      <img src="/testimonial.png" />
    </div>
    <div class="bg-gray-2 rounded-2xl">
      <img src="/testimonial.png" />
    </div>
    <div class="bg-gray-2 hidden lg:block rounded-2xl">
      <img src="/testimonial.png" />
    </div>
    <div class="bg-gray-2 hidden lg:block rounded-2xl">
      <img src="/testimonial.png" />
    </div>
  </div>
</div>
