---

---

<div class="px-5 mt-20 md:px-20 md:mt-40 lg:px-40 relative">
  <h1 class="text-2xl md:text-3xl lg:text-4xl font-medium">
    Zen Mode: Uninterrupted Coding Flow
  </h1>
  <p class="text-md mt-3 lg:text-xl text-text-2">
    Enter Zen Mode for an uninterrupted coding experience, free from
    distractions with a clutter-free interface, enabling deep focus and
    productivity.
  </p>
  <div
    class="mt-5 p-[2px] rounded-[calc(0.5rem+2px)] bg-gradient-to-br from-accent-2 via-accent-2/0 to-accent-2/0"
  >
    <img src="/zenmode.png" class="rounded-lg" />
  </div>
  <div
    style="left: 10%; top: 0;"
    class="blob lg:w-screen w-[150vw] bg-accent-1"
  >
  </div>
</div>
