---
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div
  class="opacity-20 transition-opacity will-change-[opacity] justify-center flex flex-col gap-2 xl:gap-4 h-[50vh]"
>
  <h1 class="font-medium text-4xl xl:text-5xl">{title}</h1>
  <p class="text-lg text-text-2">
    {description}
  </p>
</div>
